# Arquivos compilados
*.class

# Arquivos de log
*.log

# Arquivos de BlueJ
*.ctxt

# Arquivos temporários do Mobile Tools for Java (J2ME)
.mtj.tmp/

# Arquivos de pacote
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Arquivos de logs de falha na JVM
hs_err_pid*
replay_pid*

# Arquivos e pastas do NetBeans
/nbproject/private/
/nbproject/standard.properties
/nbproject/project.properties
/nbproject/project.xml

# Diretórios de build e dist
/build/
/dist/
/target/

# Arquivos temporários específicos de IDEs (como NetBeans e outros)
*.swp
*.bak
*.tmp

# Arquivos de dependências do Maven
.mvn/

# Arquivos de dependências do Gradle
.gradle/

# Arquivos específicos do sistema operacional
.DS_Store        # Para MacOS
Thumbs.db         # Para Windows
